<template>
    <div>
        <h2 class="text-center">Company</h2>
        <div class="col-md-12 form-group row">
            <label class="control-label">Name</label>
            <input type="text" v-model="company.name" class="form-control">
        </div>
        <div class="col-md-12 form-group row">
            <label class="control-label">Inn</label>
            <input type="text" v-model="company.inn" class="form-control">
        </div>

        <div class="col-md-12 form-group row">
            <label class="control-label">Kpp</label>
            <input type="text" v-model="company.kpp" class="form-control">
        </div>
        <div class="col-md-12 form-group row">
            <label class="control-label">Ogrn</label>
            <input type="text" v-model="company.ogrn" class="form-control">
        </div>
        <div class="col-md-12 form-group row">
            <label class="control-label">Address</label>
            <input type="text" v-model="company.address" class="form-control">
        </div>
        <div class="col-md-12 form-group row">
            <label class="control-label">Fio</label>
            <input type="text" v-model="company.fio" class="form-control">
        </div>

        <div class="col-md-12 form-group row">
            <button  v-on:click="execute()" class="btn btn-success">Execute</button>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                company: {
                    name: "",
                    inn: "",
                    kpp: "",
                    ogrn: "",
                    address: "",
                    fio: ""
                }
            }
        },
        methods: {
            execute() {
                var app = this ;
                axios.post("/api/company/compose", app.company)
                    .then(function (response) {
                        app.company = response.data
                    })
                    .catch(function (error) {
                        alert(JSON.stringify(error.response.data)) ;
                    })
            }
        }
    }
</script>

<style scoped>

</style>