<template>
    <div>
        <div class="col-md-4 row form-group">
            <label class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-3"><input type="text" v-model="id" class="form-control"></div>
        </div>
        <div style="margin-top: 20px" class="form-group">
            <button  class="btn btn-success" v-on:click="execute()">Execute</button>
        </div>
    </div>

</template>

<script>
    export default {
        data: function () {
            return {
                id: 0
            }
        },
        methods: {
            execute() {
                var app = this;
                axios.post("api/company/destroy/"+ app.id).then(function(response) {
                    alert("Success");
                }).catch(function (error) {
                    alert(JSON.stringify(error.response.data)) ;
                });
            }
        }
    }
</script>

<style scoped>

</style>