<template>
     <div class="col-md-12 row form-group">
         <select v-model="route" @change="onChange()" name="Command">
             <option value="/">Choose command</option>
             <option value="read">Read</option>
             <option value="create">Create</option>
             <option value="update">Update</option>
             <option value="retrieve">Retrieve</option>
             <option value="remove">Remove</option>
             <option value="destroy">Destroy</option>
             <option value="compose">Compose</option>
             <option value="export">Export</option>
             <option value="import">Import</option>
         </select>
     </div>

</template>

<script>
    export default {
        name: "companies-select",
        data: function () {
            return {
                route: this.$router.currentRoute.path.substring(1)
            }
        },
        methods: {
            onChange() {
                this.$router.replace(this.route);
            }
        }
    }
</script>

<style scoped>

</style>