<template>
    <div class="large-12 medium-12 small-12 cell">
        <label>Export file
            <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
        </label>
        <div class="col-md-12 row form-group">
            <button v-on:click="execute()" class="btn btn-success">Execute</button>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            data(){
                return {
                    file: ''
                }
            },
            handleFileUpload(){
                this.file = this.$refs.file.files[0];
            },
            execute() {
                var app = this;
                let formData = new FormData();
                formData.append('import_file', this.file);
                axios.post("api/company/import", formData, {
                    'headers': {
                        'Content-type' : 'multipart/form-data'
                    }
                }).then(function () {
                    alert("Success") ;
                }).catch(function (error) {
                    alert(JSON.stringify(error.response.data)) ;
                })
            }

        }
    }
</script>

<style scoped>

</style>