<template>
    <div>
        <div class="col-md-4 row form-group">
            <label class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-3"><input type="text" v-model="id" class="form-control"></div>
        </div>
        <div style="margin-top: 20px" class="form-group">
            <button  class="btn btn-success" v-on:click="execute()">Execute</button>
        </div>
        <div v-if="company.id > 0">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Inn</th>
                    <th>Ogrn</th>
                    <th>Kpp</th>
                    <th>Address</th>
                    <th>Fio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.inn }}</td>
                    <td>{{ company.ogrn }}</td>
                    <td>{{ company.kpp }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.fio }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                id: 0,
                company : {

                },

            }
        },
        methods: {
            execute() {
                var app = this;
                axios.get("api/company/retrieve/" + app.id).then(function(response) {
                    app.company = response.data ;
                }).catch(function (error) {
                    alert(JSON.stringify(error.response.data)) ;
                });
            }
        }
    }
</script>

<style scoped>

</style>