<template>
    <div>
        <div class="col-md-12 row form-group">
            <button v-on:click="execute()" class="btn btn-success">Execute</button>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            execute() {
                var app = this;
                axios({
                    url: 'api/company/export',
                    method: 'GET',
                    responseType: 'blob', // important
                }).then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'export.csv');
                    document.body.appendChild(link);
                    link.click();
                }).catch(function (error) {
                    alert(JSON.stringify(error.response.data)) ;
                });
            }
        }
    }
</script>

<style scoped>

</style>