<template>
    <div class="container row">
        <div style="margin-top: 20px" class="form-group col-md-12 row">
            <button  class="btn btn-success" v-on:click="execute()">Execute</button>
        </div>
        <div v-if="companies.length > 0">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Inn</th>
                    <th>Ogrn</th>
                    <th>Kpp</th>
                    <th>Address</th>
                    <th>Fio</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="company, index in companies">
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.inn }}</td>
                    <td>{{ company.ogrn }}</td>
                    <td>{{ company.kpp }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.fio }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CommandRead",
        data: function () {
            return {
                companies: []
            }
        },
        methods: {
            execute() {
                var app = this;
                axios.get("api/company/read").then(function(response) {
                    app.companies = response.data ;
                }).catch(function (error) {
                    alert(JSON.stringify(error.response.data)) ;
                });
            }
        }
    }
</script>

<style scoped>

</style>